{% extends "base.html" %}
{% block content %}
<div class="flex">
    <form class="card" method="POST" action="{% url 'country' %}">
        {% csrf_token %}
        <select name="select">
            <option value="Global">0 - Global</option>
            {% for country in countriesData %}
            <option value="{{country.id}}" name="country">
                {{ country.id }} - {{ country.name }}
            </option>
            {% endfor %}
        </select>
        <button type="submit">Pesquisar</button>

    </form>
    <div class="card warning">
        <span>Cases: {{ totalCases }}</span>
    </div>
    <div class="card error">
        <span>Deaths: {{ totalDeaths }}</span>
    </div>
    <div class="card success">
        <span>Recovered: {{ totalRecovered }}</span>
    </div>

</div>
<div>

</div>


<ul>
    {% for country, data in dataByCountry.items %}
    <li>{{ country }}:</li>
    <ul>
        {% for counts,values in data.items %}
        <li>{{ values }}: {{ counts }}</li>
        {% endfor %}
    </ul>
    {% endfor %}


</ul>
{% endblock content %}