
<div>
    <p> {{ totalDeaths }} mortes</p>
</div>
<div>
    <p> {{ totalCases }} casos</p>
</div>
<div>
    <p> {{ totalRecovered }} recuperados</p>
</div>

<select>
    {% for country in countries %}
       <option value="{{country}}"
           {% if country == Brazil %}selected="selected"{% endif %}>
           {{ country }}
       </option>
    {% endfor %}
</select>


<ul>
    {% for country, data in dataByCountry.items %}
         <li>{{ country }}: </li>
        <ul
        {% for counts,values in data.items %}
            <li>{{ values }}: {{ counts }}</li>
        {% endfor %}
        </ul>
    {% endfor %}


</ul>
